[Desktop Entry]
Hidden=false
Type=Directory
NoDisplay=false
X-Enlightenment-Directory-Wallpaper=underch_andesite_mossy_cobble.png
Version=1.0
DBusActivatable=false
Name=Directory look and feel
Name[en_US]=Directory look and feel
